.output {
	min-height: 100vh;
	padding: 1rem;
	display: flex;
	justify-content: center;
	background-color: rgb(236, 236, 236);
}

.resume {
	width: 800px;
	background-color: #fff;
}

.personal-information {
	background-color: #303846;
	padding: 1.6rem;
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.left > h1 {
	color: #fff;
	font-weight: 600;
	font-size: 2rem;
}

.left > p {
	color: rgb(190, 190, 190);
	font-weight: 200;
	font-size: 1.2rem;
}

.right {
	color: rgb(173, 166, 166);
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	font-size: 12px;
}

.contact-info {
	display: flex;
	gap: 0.4rem;
	justify-content: right;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-icon {
	height: 12px;
	width: 12px;
	color: rgb(143, 140, 140);
}

.university {
	margin-bottom: 1rem;
}

.heading {
	font-weight: 600;
	font-size: 1.2rem;
	color: #303846;
}

.university-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.4rem;
}

.specialty {
	font-size: 1.2rem;
}

.name {
	font-weight: 300;
	color: #303846;
}

.years {
	display: flex;
	gap: 0.6rem;
	justify-content: center;
	align-items: center;
}
