@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital@1&family=Roboto:ital@1&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'montserrat', sans-serif;
	line-height: 1.6;
}

.app {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr, 1fr;
	grid-template-areas: 'input output';
}

.input {
	grid-area: 'input';
	display: flex;
	justify-content: center;
	overflow: scroll;
	overflow-x: hidden;
	padding: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.container > .form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input,
button {
	width: 400px;
	height: 40px;
	padding: 0.6rem;
	border-radius: 5px;
	border: 1px solid #2d3047;
}

button {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #08b2e3;
	border: none;
	color: rgb(255, 255, 255);
	font-weight: 500;
	cursor: pointer;
}

textarea {
	height: 140px;
	border-radius: 5px;
	border: 1px solid #2d3047;
	padding: 0.6rem;
	resize: none;
}

input:focus,
textarea:focus,
button:focus {
	border: 1px solid #08b2e3;
	outline: 1px solid #08b2e3;
}

h2 {
	font-weight: 400;
	font-size: 1.2rem;
}

.output {
	grid-area: 'output';
}

.resume {
	position: relative;
}

main {
	padding: 2rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.profile {
	padding: 0 1rem;
	border-right: 1px solid #b0b0b4;
}

.sidebar {
	padding: 0 2rem;
}

.skills {
	margin-bottom: 2rem;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

li {
	display: inline-block;
	list-style-type: none;
}

.output .education {
	margin-bottom: 2rem;
}

.relative {
	position: relative;
}

.deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	height: 20px;
	width: 20px;
	cursor: pointer;
	display: none;
	background-color: transparent;
}

.relative:hover > .deleteButton {
	display: flex;
}

.deleteIcon {
	height: 20px;
	width: 20px;
	color: red;
}

.languages {
	padding-bottom: 4rem;
}
